* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#editor {
  width: 100%;
  height: 97%;
}

/* IME Fix */
@font-face {
  font-family: "ime_jp_rp";
  src: url("ime_jp_rp.woff") format("woff");
}

.ace_editor > .ace_text-input {
  padding-top: 1px;
  padding-left: 1px;
  letter-spacing: 1px;
  font-family: ime_jp_rp, Monaco, Menlo, "Ubuntu Mono", Consolas,
    source-code-pro, monospace;
}
